# ignore idea project files
.idea/*

# ignore pdf files (full papers) but keep md notes/summaries
literature/*.pdf
/literature/papers/

# DO NOT UPLOAD SIMON'S WIP PAPER
literature/CosmoScoutVR_Simon_DO-NOT-UPLOAD.pdf
/Presentation/img/nav vids/*.mkv
/Presentation/img/nav vids/*.avi
